<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Polazište</th>
								<th class="column1">Odredište</th>
								<th class="column1">Polazak</th>
								<th class="column1">Povratak</th>
								<th class="column1">Presijedanja odlazak</th>
								<th class="column1">Presijedanja povratak</th>
								<th class="column1">Br. putnika</th>
								<th class="column1">Valuta</th>
								<th class="column1">Ukupna cijena</th>
							</tr>
						</thead>
						<tbody>
							<th:block>
								<tr>
									<td class="column1" ></td>
									<td class="column1" ></td>
									<td class="column1"></td>
									<td class="column1"></td>
									<td class="column1"></td>
									<td class="column1"></td>
									<td class="column1"></td>
									<td class="column1"></td>
									<td class="column1"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>